/BetterInvertedIndex$BetterInvertedIndexMapper.class
/BetterInvertedIndex$BetterInvertedIndexReducer.class
/BetterInvertedIndex.class
/InvertedIndex$InvertedIndexMapper.class
/InvertedIndex$InvertedIndexReducer.class
/InvertedIndex.class
